/* page-header.css */
.page-header {
  padding: var(--header-height) 0 2rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header h2 {
  position: relative;
  z-index: 99;
}

.page-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, var(--body-bg), rgba(0, 0, 0, 0));
}