.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__content {
  max-width: 1000px;
}

.footer__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer__content__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__content__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__content__menu > * + * {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .footer__content__menus {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-footer {
  background: #2a2a72;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}